<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
    
      <ion-tab-button tab="objects">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Objects</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="interfaces">
        <ion-icon name="folder-outline"></ion-icon>
        <ion-label>Interfaces</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="enumerations">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Enumerations</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="abstractions">
        <ion-icon name="balloon-outline"></ion-icon>
        <ion-label>Abstractions</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
