.prop-required {
    background-color: orange;
    width: 6px !important;
    height: 100%;
}

.color-yellow {
    color: orange;
}

.item-history-add-color {
    --ion-item-background: rgba(55, 84, 66, 0.4);
}

.item-history-upd-color {
    --ion-item-background: rgba(47, 66, 79, 0.4);
}

.item-history-lock-color {
    --ion-item-background: rgba(138, 129, 34, 0.4);
}

.item-history-archive-color {
    --ion-item-background: rgba(87, 35, 110, 0.4);
}

.item-history-del-color {
    --ion-item-background: rgba(245, 39, 58, 0.4);
}