<ion-content>

  <ion-searchbar animated></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let object of objects">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label> {{ object.name }}</ion-label>
          </ion-col>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>ID</ion-label>
            </ion-chip>
            <ion-chip color="secondary">
              <ion-label>DEL</ion-label>
            </ion-chip>
            <ion-chip color="tertiary">
              <ion-label>LSTG</ion-label>
            </ion-chip>
            <ion-chip color="success">
              <ion-label>KNDE</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-button color="warning">
              <ion-icon name="color-wand-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>