<ion-content>
  <form [formGroup]="model.form" (ngSubmit)="onSave()">

    <ion-grid>
      <ion-row>

        <!-- General -->
        <ion-col size-xs>
          <ion-item>
            <h2>General</h2>
          </ion-item>
          <ion-item>
            <ion-label for="name">Name </ion-label>
            <ion-input id="name" formControlName="name" placeholder="..."></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea formControlName="description" placeholder="..."></ion-textarea>
          </ion-item>
        </ion-col>

        <!-- Properties -->
        <ion-col size-xs>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="addProperty()">
                <ion-icon name="add-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Properties</ion-title>
          </ion-toolbar>
          <ion-list>
            <ion-item *ngFor="let property of model.value.properties">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-align-items-center">
                    <ion-label>
                      <h2>{{ property.name }}</h2>
                      <p> {{ property.description | truncate:[35, '...'] }} </p>
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-button>
                      <ion-icon name="create"></ion-icon>
                    </ion-button>
                    <ion-button>
                      <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>
      <ion-row>

        <!-- Implementations -->
        <ion-col size-xs>
          <ion-item>
            <h2>Implementations</h2>
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let interface of interfaces">
              <ion-label>{{interface.name}}</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>

        <!-- History -->
        <ion-col size-xs>
          <!-- <ion-item>
            <h2>History</h2>
          </ion-item> -->
        </ion-col>

      </ion-row>
      <ion-row>

        <!-- Actions -->
        <ion-col>
          <ion-button color="primary" (click)="onSave()" class="ion-margin">Save</ion-button>
          <ion-button color="danger" routerLink="/catalogue/interfaces">Cancel</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>
</ion-content>