<ion-content>

  <div *ngIf="!model?.form">
    Loading ...
  </div>

  <form [formGroup]="model?.form" *ngIf="model?.form" (ngSubmit)="onSave()">

    <ion-grid>

      <ion-row *ngIf="id">
        <ion-col>
          <ion-item>
            <ion-buttons slot="start">
              <ion-button color="warning" [disabled]="this.model.value.archived" *ngIf="!model.value.locked"
                (click)="onLock()">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-button>
              <ion-button color="warning" [disabled]="this.model.value.archived" *ngIf="model.value.locked"
                (click)="onUnlock()">
                <ion-icon name="lock-open-outline"></ion-icon>
              </ion-button>
              <ion-button color="tertiary" *ngIf="!model.value.archived" (click)="onArchive()">
                <ion-icon name="archive-outline"></ion-icon>
              </ion-button>
              <ion-button color="tertiary" *ngIf="model.value.archived" (click)="onRestore()">
                <ion-icon name="lock-open-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="onDelete()">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-stretch">
        <!-- General -->
        <ion-col>
          <ion-item>
            <h2>General</h2>
          </ion-item>
          <ion-item>
            <ion-label for="name">Name:</ion-label>
            <ion-input id="name" formControlName="name" placeholder="IExample"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description:</ion-label>
            <ion-textarea formControlName="description" placeholder="..."></ion-textarea>
          </ion-item>
        </ion-col>

        <!-- Properties -->
        <ion-col>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button [disabled]="this.model.value.locked" (click)="addProperty()">
                <ion-icon name="add-circle"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Properties</ion-title>
          </ion-toolbar>
          <ion-list>
            <ion-item *ngFor="let property of model.value.properties" [disabled]="this.model.value.locked" button="true"
              (click)="editProperty(property)">
              <ion-grid>
                <ion-row>
                  <ion-col *ngIf="property.required" size="0.3">
                    <div class="prop-required">
                    </div>
                  </ion-col>
                  <ion-col class="ion-align-self-center">
                    <b> {{ property.name }} </b>
                    <div> {{ property.description | truncate:[35, '...'] }} </div>
                  </ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-button color="danger" (click)="removeProperty(property)">
                      <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>

        <!-- History -->
        <ion-col *ngIf="id">
          <ion-item>
            <h2>History</h2>
          </ion-item>
          <ion-list>
            <ion-item [class]="getHistoryColor(hs.action)" *ngFor="let hs of model?.value.history">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-align-self-center">
                    <b> {{ getHistoryName(hs.action) }} </b>
                  </ion-col>
                  <ion-col class="ion-align-self-center">
                    <b> {{ hs.timestamp | date }} </b>
                  </ion-col>
                  <ion-col size="1" class="ion-align-self-center">
                    <b> {{ hs.changes.length }} </b>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item class="ion-text-center" *ngIf="model.value.history.length >= historyCutOff">
              <ion-grid>
                <ion-col>
                  <a href="">Load more ...</a>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Actions -->
      <ion-row>
        <ion-col>
          <ion-button color="primary"
            [disabled]="this.model.value.locked || (!this.model.form.touched && !this.modified)" (click)="onSave()"
            class="ion-margin">Save
          </ion-button>
          <ion-button color="danger" routerLink="/catalogue/objects">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>